.container-menu-title{
  color: white;
}

.container-menu-title > h1{
  display: flex;
  justify-content: center;
  font-family: 'segoe UI';
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 135px;
}

.container-menu-title > hr{
  margin-top: 20px;
  margin-bottom: 20px;
}
