<app-menu-title></app-menu-title>

<div class="container-articles">
  <div class="articles_main">
    <app-big-card
      id="1"
      photoCover="https://ingresso-a.akamaihd.net/b2b/production/uploads/article/image/3249/44b62a3f71d6cd6e6e2fb5f5f77c24aa.jpg"
      cardTitle="LANÇAMENTO DE THUNDERBOLTS* SUPERA AS EXPECTATIVAS"
      cardDescription="Novo filme da Marvel lançado recentemente já bateu recorde de bilheteria em todo o mundo">
    </app-big-card>
  </div>

  <div class="articles_others">
    <app-small-card id="2" photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdRZuq4wKUUr-smBTx5ADTYXxCdkg5Nih20w&s" cardTitle="O QUE ESPERAR DO NOVO FILME DOS VINGADORES?"></app-small-card>
    <app-small-card id="3" photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzduu5ug3dy6_hJolxPwts6RpjNFtLnjC8_w&s" cardTitle="CONFIRA: NOVO ELENCO DO QUARTETO FANTÁSTICO"></app-small-card>
    <app-small-card id="4" photoCover="https://cdn.mos.cms.futurecdn.net/YcdQK7qtrHx526PJH38hRa.jpeg" cardTitle="NOVA SÉRIE DO DISNEY PLUS"></app-small-card>
  </div>
</div>
